<h2 class="page-header">Partie en cours</h2>
<div ng-app="P4Module" ng-controller="P4Controller" data-ng-init="init()">
  <div class="row">
    <div class="col-sm-12">
      <div class="options">
        <button type="button" class="btn btn-danger" ng-click="action()">action</button>
        <a href="/"><button type="button" class="btn btn-danger">Abandonner</button></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table border="3" cellpadding="0" cellspacing="0" bordercolor="#003300">
        <tbody>
          <tr ng-repeat="row in grid track by $index">
            <td ng-repeat="column in row track by $index" width="60" height="60" id="{$parent.$index}:{$index}" ng-click="action($index)">
              <!-- <img src="/public/pictures/slot.jpg" width="60" height="60"> -->
              <span>{row[$index]}</span>
              <!-- <span>{$parent.$index}</span> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script type="text/javascript" src="/public/javascripts/puissance4.js"></script>
