<h2 class="page-header">Nouvelle partie</h2>
<div ng-app="P4Module" ng-controller="P4Controller">
  <div class="options">
    <button type="button" class="btn btn-danger" ng-click="action()">action</button>
    <a href="/"><button type="button" class="btn btn-danger">Abandonner</button></a>
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script type="text/javascript" src="/public/javascripts/puissance4.js"></script>
