<div class="jumbotron">
  <h1>Puissance 4</h1>
  <p class="lead">
    Pour gagner une partie de puissance 4, il suffit d’être le premier à aligner 4 jetons de sa couleur horizontalement, verticalement et diagonalement. Si lors d’une partie, tous les jetons sont joués sans qu’il y est d’alignement de jetons, la partie est déclaré nulle.
  </p>
  <p><a class="btn btn-lg btn-success" href="/users/login" role="button">Jouer</a></p>
</div>
