<h2 class="page-header">Tableau de bord</h2>
<div class="row" ng-app="DashboardModule" ng-controller="DashboardController">
  <div class="col-sm-6">
    <h4>Nouvelle partie</h4>
    <a href="/game/new"><button type="button" class="btn btn-lg btn-success">Lancer la partie</button></a>
  </div>
  <div class="col-sm-6 party-on">
    <h4>Liste des parties en cours</h4>
    <div class="list-group">
      <div class="list-group-item" ng-repeat="rooms in master">
        <h4 class="list-group-item-heading">Lancée par :</h4>
        <a><p class="list-group-item-text" ng-click="join({rooms})">{rooms}</p></a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js"></script>
<script type="text/javascript" src="/public/javascripts/dashboard.js"></script>
