<h2 class="page-header">S'inscrire</h2>
{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}
<form method="post" action="/users/register">
  <div class="form-group">
    <label>Identifiant</label>
    <input type="text" class="form-control" placeholder="Identifiant" name="username">
  </div>
  <div class="form-group">
    <label>Mot de passe</label>
    <input type="password" class="form-control" placeholder="Mot de passe" name="password">
  </div>
  <div class="form-group">
    <label>Confirmation</label>
    <input type="password" class="form-control" placeholder="Confirmation" name="password2">
  </div>
  <button type="submit" class="btn btn-default">Envoyer</button>
</form>
